
.sidenav {
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #019592;
  /* max-height: 100vh; */
  text-align: center;
}

.sidenav a {
  padding: 15px 0;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  max-height: 30%;
}

.sidenav img {
  color: white;
  width: 70%;
  align-self: center;
}

.sidenav .nav-item:hover {
  background-color: #006462;
}

.sidenav .nav-item-selected {
  background-color: #006462;
}