
.sidenav {
  height: 100%;
  width: auto;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #019592;
}

.sidenav a {
  padding: 20px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.sidenav img {
  color: white;
  width: 80%;
  align-self: center;
}

.sidenav a:hover {
  background-color: #006462;
}