.edit-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.edit-frame {
  height: 80vh;
  border: 1px solid black;
  margin: 40px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  user-select: none; /* prevent missing mouse up because text selection was being triggered */
}

.edit-params button {
  /* display: block; */
  margin: 10px;
  margin-top: 20px;
}

.edit-params {
  text-align: center;
  margin: 10px;
}
.edit-params p {
  text-align: center;
}

.node {
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.node:hover {
  background-color: #018381;
  z-index: 10;
}
.node:focus {
  background-color: #018381;
  border: 2px solid #018381;
  outline: none;
  z-index: 10;
}

.edge {
  pointer-events: none;
}
.edge:hover {
  background-color: #018381;
}

.hovered {
  background-color: #018381;
  z-index: 10;
}

.selected {
  background-color: #018381;
  border: 2px solid #018381;
  z-index: 10;
}